{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger СatsShop - OpenAPI 3.0",
    "description": "Документация к API",
    "contact": {
      "email": "cuperopen@mail.ru"
    },
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "http://eco-74.online:5423/api"
    },
    {
      "url": "http://localhost:5423/api"
    }
  ],
  "tags": [
    {
      "name": "Работа с пользователем"
    },
    {
      "name": "Профиль пользователя"
    },
    {
      "name": "Порода кота"
    },
    {
      "name": "Окрас кота"
    },
    {
      "name": "Гендер кота"
    }
  ],
  "paths": {
    "/user/register": {
      "post": {
        "tags": [
          "Работа с пользователем"
        ],
        "summary": "Регистрация",
        "description": "Регистрация нового пользователя в системе",
        "operationId": "registerNewUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/register_user"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/user/code/register": {
      "post": {
        "tags": [
          "Работа с пользователем"
        ],
        "summary": "Код регистрации пользователя",
        "description": "Получение кода на почту пользователя (проверка валидности почты)",
        "operationId": "registerNewUserCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/register_code_mail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message_code"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/user/code/reset": {
      "post": {
        "tags": [
          "Работа с пользователем"
        ],
        "summary": "Код востановления пароля",
        "description": "Получение кода на почту пользователя",
        "operationId": "resetUserPasswordCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/register_code_mail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message_code"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/user/reset/password": {
      "put": {
        "tags": [
          "Работа с пользователем"
        ],
        "summary": "Изменение пароля пользователя",
        "description": "Сброс пароля пользователя",
        "operationId": "resetPasswordUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reset_password"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation. После успешной смены пароля на посту пользоваетля прийдёт сообщение о смнене пароля",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "Работа с пользователем"
        ],
        "summary": "Авторизация",
        "description": "Авторизация пользователя. Имеется возможность авторизации как по логину так и по почте. Для авторизации по почте нужно в поле login указать почту",
        "operationId": "loginUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/login_user"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message_login"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "tags": [
          "Профиль пользователя"
        ],
        "summary": "Информация о пользователи",
        "operationId": "userInformation",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Профиль пользователя"
        ],
        "summary": "Информация о пользователи",
        "operationId": "putInformationUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/put_user_info"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/user/picture": {
      "get": {
        "tags": [
          "Профиль пользователя"
        ],
        "summary": "Изображение профиля",
        "operationId": "userPictureGet",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Изображение приходят в виде байтов"
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Профиль пользователя"
        ],
        "summary": "Изменение изображения профиля",
        "operationId": "putPictureUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/picture_user_put"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Профиль пользователя"
        ],
        "summary": "Удаление изображения профиля",
        "operationId": "удаление изображения профиля",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/breed": {
      "get": {
        "tags": [
          "Порода кота"
        ],
        "summary": "Получение всех пород",
        "operationId": "breedGetAll",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/breed"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Порода кота"
        ],
        "summary": "Добавление новой породы",
        "operationId": "breedNew",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/new_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breedId}": {
      "get": {
        "tags": [
          "Порода кота"
        ],
        "summary": "Получение определенной породы",
        "operationId": "breedGetCurrent",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "breedId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/format_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Порода кота"
        ],
        "summary": "Изменение породы",
        "operationId": "breedPut",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "breedId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/new_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Порода кота"
        ],
        "summary": "Удаление породы",
        "operationId": "breedDelete",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "breedId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/format_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/color": {
      "get": {
        "tags": [
          "Окрас кота"
        ],
        "summary": "Получение всех окрасов",
        "operationId": "colorGetAll",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/color"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Окрас кота"
        ],
        "summary": "Добавление нового окраса",
        "operationId": "colorNew",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/new_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/color/{colorId}": {
      "get": {
        "tags": [
          "Окрас кота"
        ],
        "summary": "Получение определенного окраса",
        "operationId": "colorGetCurrent",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "colorId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/format_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Окрас кота"
        ],
        "summary": "Изменение окраса",
        "operationId": "colorPut",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "colorId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/new_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Окрас кота"
        ],
        "summary": "Удаление окраса",
        "operationId": "colorDelete",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "colorId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/format_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/gender": {
      "get": {
        "tags": [
          "Гендер кота"
        ],
        "summary": "Получение всех гендеров",
        "operationId": "genderGetAll",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gender"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Гендер кота"
        ],
        "summary": "Добавление нового гендера",
        "operationId": "genderNew",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/new_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    },
    "/gender/{genderId}": {
      "get": {
        "tags": [
          "Гендер кота"
        ],
        "summary": "Получение определенного гендера",
        "operationId": "genderGetCurrent",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "genderId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/format_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Гендер кота"
        ],
        "summary": "Изменение гендера",
        "operationId": "genderPut",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "genderId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/new_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Гендер кота"
        ],
        "summary": "Удаление гендера",
        "operationId": "genderDelete",
        "parameters": [
          {
            "name": "security",
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/user_token"
            }
          },
          {
            "name": "genderId",
            "in": "path",
            "description": "ID of pet to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/format_info"
                }
              }
            }
          },
          "400": {
            "description": "Not successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Клиент не авторизован)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_message"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "register_user": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string",
            "format": "login",
            "example": "test"
          },
          "mail": {
            "type": "string",
            "format": "mail",
            "example": "test@test.ru"
          },
          "age": {
            "type": "string",
            "format": "date (Именно в таком формате)",
            "example": "20 10 1999"
          },
          "firstname": {
            "type": "string",
            "format": "Имя",
            "example": "Иван"
          },
          "surname": {
            "type": "string",
            "format": "Фамилия",
            "example": "Иванов"
          },
          "patronymicname": {
            "type": "string",
            "format": "Отчество (не обязательно)",
            "example": "Иванович"
          },
          "password": {
            "type": "string",
            "format": "пароль (md5)",
            "example": "43537179b1bbebea0034a52657ca27f5 (md5)"
          }
        }
      },
      "success_message": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "message",
            "example": "Сообщение пользователю"
          }
        }
      },
      "register_code_mail": {
        "type": "object",
        "properties": {
          "mail": {
            "type": "string",
            "format": "string",
            "example": "test@test.ru"
          }
        }
      },
      "reset_password": {
        "type": "object",
        "properties": {
          "mail": {
            "type": "string",
            "format": "string",
            "example": "test@test.ru"
          },
          "password": {
            "type": "string",
            "format": "string",
            "example": "e9280065c3866969967a69adefbdc301"
          }
        }
      },
      "success_message_code": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "message",
            "example": "Успешное выполнение"
          },
          "code": {
            "type": "integer",
            "format": "code",
            "example": 723115
          }
        }
      },
      "success_message_login": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "message",
            "example": "Успешное выполнение"
          },
          "role": {
            "type": "integer",
            "format": "code",
            "example": 1
          },
          "token": {
            "type": "string",
            "format": "code",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbiI6InhhbWFoIiwidXNlcl9pZCI6MSwiZGF0ZV90aW1lIjoiMjAyNC0wMy0yOSAxMjozMDoyNC4wNDYyODUiLCJpc1BvaW50IjpudWxsfQ.Gq5M7cFig44leeq9G18benJM6T5QTc1_3_mXhcMZtxk"
          }
        }
      },
      "login_user": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string",
            "format": "login",
            "example": "test or test@test.ru"
          },
          "device": {
            "type": "string",
            "format": "Для мобильных устройств модель телефона",
            "example": "Huawei A91 or Browser"
          },
          "type_device": {
            "type": "string",
            "format": "ОС",
            "example": "Android or Linux"
          },
          "password": {
            "type": "string",
            "format": "пароль (md5)",
            "example": "43537179b1bbebea0034a52657ca27f5 (md5)"
          }
        }
      },
      "user_info": {
        "type": "object",
        "properties": {
          "mail": {
            "type": "string",
            "format": "mail",
            "example": "test@test.ru"
          },
          "age": {
            "type": "string",
            "format": "date (Именно в таком формате)",
            "example": "20 10 1999"
          },
          "firstname": {
            "type": "string",
            "format": "Имя",
            "example": "Иван"
          },
          "surname": {
            "type": "string",
            "format": "Фамилия",
            "example": "Иванов"
          },
          "patronymicname": {
            "type": "string",
            "format": "Отчество (не обязательно)",
            "example": "Иванович"
          },
          "show_cart": {
            "type": "boolean",
            "format": "отображение корзины остальным пользователям",
            "example": false
          }
        }
      },
      "put_user_info": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "format": "Имя",
            "example": "Иван"
          },
          "surname": {
            "type": "string",
            "format": "Фамилия",
            "example": "Иванов"
          },
          "patronymicname": {
            "type": "string",
            "format": "Отчество (не обязательно)",
            "example": "Иванович"
          },
          "show_cart": {
            "type": "boolean",
            "format": "отображение корзины остальным пользователям",
            "example": false
          }
        }
      },
      "picture_user_put": {
        "type": "object",
        "properties": {
          "photo": {
            "type": "string",
            "format": "Изображаение в одном из форматов: jpg, jpeg, png, bmp, tiff",
            "example": "Изображаение в одном из форматов: jpg, jpeg, png, bmp, tiff"
          }
        }
      },
      "user_token": {
        "type": "object",
        "properties": {
          "Authorization": {
            "type": "string",
            "format": "Токен пользователя",
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbiI6InhhbWFoIiwidXNlcl9pZCI6MSwiZGF0ZV90aW1lIjoiMjAyNC0wMy0yOSAxMjo0NzoyMi4xOTAxNzEiLCJpc1BvaW50IjpudWxsfQ.Q0caml8eX57HSbiSErM3hBZYu_64kadGqC_akj8eK98"
          }
        }
      },
      "breed": {
        "type": "object",
        "properties": {
          "breed": {
            "$ref": "#/components/schemas/array_format"
          }
        }
      },
      "color": {
        "type": "object",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/array_format"
          }
        }
      },
      "gender": {
        "type": "object",
        "properties": {
          "gender": {
            "$ref": "#/components/schemas/array_format"
          }
        }
      },
      "array_format": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/format_info"
        }
      },
      "format_info": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "format": "Идентификатор",
            "example": 1
          },
          "name": {
            "type": "string",
            "format": "Название",
            "example": "Пример"
          }
        }
      },
      "new_config": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "format": "Название",
            "example": "Пример"
          }
        }
      }
    }
  }
}